.register {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .rInput{
    height: 30px;
    padding: 10px;
    width: 250px;
  }
  
  .rButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .rButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }
  .registerdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 20px;
    font-size: large;
    font-weight: bold;
    
  }